<%- include('layout-top', {}) %>
<main class='main-cart'>

    <script>
        async function deleteFromCart(id) {

            const ammount = 1;
            console.log(id);

            const response = await fetch(`/api/deleteFromCart/${id}/${ammount}`, {
                method: 'DELETE'
            });

            console.log(response.ok);

            const whatNext = await response.text();

            const itemPrice = document.getElementById(`item-price-${id}`);
            const cartPrice = document.getElementById('cart-price');
            cartPrice.innerHTML = +cartPrice.innerHTML - +itemPrice.innerHTML;

            if (whatNext == 'less') {
                const counter = document.getElementById(`item-ammount-${id}`);
                counter.innerHTML = +counter.innerHTML - 1;
            } else if (whatNext == 'none') {
                const item = document.getElementById(`item-${id}`);
                item.remove();
            }

            const counterAll = document.getElementById('cart-items-count');
            counterAll.innerHTML = +counterAll.innerHTML - 1;
        }
    </script>

    <% if (locals.cart.length == 0) { %>
        <empty-cart>
            <title class='empty-cart-title'>Twój koszyk jest pusty</title>
            <title class='empty-cart-description'>Szukasz inspiracji?</title>
            <a href="/" class='cart-homepage-btn'>Przejdź do strony głównej</a>
        </empty-cart>
    <% } %>
    <% if (locals.cart.length) { %>
        <cart>
            <title class='cart-title'>Koszyk (<span id="cart-items-count"><%= locals.cart_count %></span>):</title>
            <% for (let i of locals.cart) { %>
                <item id="item-<%= i.product_id %>"> 
                    <img src="./../img/<%= i.image %>" alt="img" width="72" height="60"> 
                    <a href="/product/<%= i.product_id %>"><%= i.name %></a>  
                    <info class='item-info'>
                        <amount id="item-ammount-<%= i.product_id %>" class='item-ammount'><%= i.ammount %></amount> 
                        <price class='item-price'><span id="item-price-<%= i.product_id %>"><%= i.price/100 %></span> zł</price>
                        <button onclick="deleteFromCart('<%= i.product_id %>')">Delete one</button>
                    </info> 
                </item>
            <% } %>
        </cart>
        <order>
            <info class='cart-info'>
                <title class='order-title'>Łączny koszt:</title>
                <price><span id="cart-price"><%= locals.cart_value/100 %></span> zł</price>
            </info>

            <button class='order-btn'>Przejdź do dostawy</button>
        </order>
    <% } %>
</main>
<%- include('layout-bottom', {}) %>