<%- include('layout-top', {}) %>
<main class='main-cart'>
    <% if (locals.cart.length == 0) { %>
        <empty-cart>
            <title class='empty-cart-title'>Twój koszyk jest pusty</title>
            <title class='empty-cart-description'>Szukasz inspiracji?</title>
            <a href="/" class='cart-homepage-btn'>Przejdź do strony głównej</a>
        </empty-cart>
    <% } %>
    <% if (locals.cart.length) { %>
        <cart>
            <title class='cart-title'>Koszyk () :</title>
            <% for (let i of locals.cart) { %>
                <item> 
                    <img src="./../img/<%= i.image %>" alt="img" width="72" height="60"> 
                    <a href="/product/<%= i.product_id %>"><%= i.name %></a>  
                    <info class='item-info'>
                        <amount class='item-ammount'><%= i.ammount %></amount> 
                        <price class='item-price'><%= i.price %> gr</price>
                    </info> 
                </item>
            <% } %>
        </cart>
        <order>
            <info class='cart-info'>
                <title class='order-title'>Łączny koszt:</title>
                <price>2021 zł</price>
            </info>

            <button class='order-btn'>Przejdź do dostawy</button>
        </order>
    <% } %>
</main>
<%- include('layout-bottom', {}) %>