<%- include('layout-top', {}) %>
<main>
    <% if (locals.cart.length == 0) { %>
        <span>Twój koszyk jest pusty.</span>
    <% } %>
    <% if (locals.cart.length) { %>
        <span>Twój koszyk: </span>
        <% for (let i of locals.cart) { %>
            <span><a href="/product/<%= i.product_id %>"><%= i.name %></a>: <%= i.ammount %></span>
        <% } %>
    <% } %>
</main>
<%- include('layout-bottom', {}) %>