<%- include('layout-top', {}) %>
<main class='main-cart'>

    <script>
        async function deleteFromCart(id) {

            const ammount = 1;
            console.log(id);

            const response = await fetch(`/api/deleteFromCart/${id}/${ammount}`, {
                method: 'DELETE'
            });

            console.log(response.ok);

            const whatNext = await response.text();

            const itemPrice = document.getElementById(`item-price-${id}`);
            const cartPrice = document.getElementById('cart-price');
            cartPrice.innerHTML = +cartPrice.innerHTML - +itemPrice.innerHTML;

            if (whatNext == 'less') {
                const counter = document.getElementById(`item-ammount-${id}`);
                counter.innerHTML = +counter.innerHTML - 1;
            } else if (whatNext == 'none') {
                const item = document.getElementById(`item-${id}`);
                item.remove();
            }

            const counterAll = document.getElementById('cart-items-count');
            counterAll.innerHTML = +counterAll.innerHTML - 1;

            if (+counterAll.innerHTML == 0) {
                history.go(0);
            }
        }
    </script>

    <% if (locals.cart.length == 0) { %>
        <%- include('message-module', {message: 'Twój koszyk jest pusty'}) %> 
    <% } %>
    <% if (locals.cart.length) { %>
        <%- include('cart-module', {cart: locals.cart, cart_count: locals.cart_count, type: 'cart'}) %> 
        <div class="order">
            <div class='cart-info'>
                <span class='order-title'>Łączny koszt:</span>
                <span class="price"><span id="cart-price"><%= locals.cart_value/100 %></span> zł</span>
            </div>

            <button class='order-btn' onclick="window.location.href = '/order'">Przejdź do dostawy</button>
        </div>
    <% } %>
</main>
<%- include('layout-bottom', {}) %>