<%- include('layout-top', {static_correction: './../', categories: locals.categories}) %>
<main class="main-list">

    <div class="item-list">
        <h3>Produkty z kategorii:</h3>

        <% if (locals.products.length) { %>
        <all-items>
            <% for (let i of locals.products) {%> 
                <prod class="product">
                    <img src="./../img/<%= i.image %>" alt="img" width="231" height="200">
                    <a href="/product/<%= i.product_id %>"><%= i.name %></a>
                    <price><%= i.price/100 %> zł</price>
                </prod>
            <% } %>
        </all-items>  
        
        <% } else { %>
            <span class="message"><%- include('message-module', {static_correction: './..', message: 'Ta kategoria jest pusta'}); %></span>
        <% } %>
      
    </div>
    

</main>
<%- include('layout-bottom', {}) %>