<%- include('layout-top', {static_correction: './../'}) %>
<main>
    <script>

        window.addEventListener('load', (event) => {
            const button = document.getElementById('add-to-cart');
            
            button.addEventListener('click', (event) => {
                (async () => {

                    const id = document.getElementById('product-id').innerHTML;

                    const response = await fetch(`/api/addToCart/${id}/1`, {
                        method: 'POST'
                    });

                    console.log(response.ok);
                })();
            });
        });

    </script>

    <product>
        <img class="product-img" src="./../img/<%= locals.product.image %>" alt="" width="300" height="300">

        <button class="add-to-cart" id="add-to-cart">Dodaj do koszyka</button>

        <description>
            <product-title><%= locals.product.name %></product-title>
            <opis-title>Opis</opis-title>
            <%= locals.product.description %> <br>
            Inne: <br>
            Cena (w groszach): <%= locals.product.price %> <br>
            Cena po obniżce (w groszach): <%= locals.product.disconted_price %> <br>
            Pozostało sztuk: <%= locals.product.ammount %> <br>
        </description>

        <div id="product-id" style="display: hidden;"><%= locals.product.product_id %></div>
    </product>  
</main>
<%- include('layout-bottom', {}) %>