<%- include('layout-top', {static_correction: './../'}) %>
<main class='main-prod'>
    <script>

        window.addEventListener('load', (event) => {
            const button = document.getElementById('add-to-cart');
            
            button.addEventListener('click', (event) => {
                (async () => {

                    const id = document.getElementById('product-id').innerHTML;
                    const select = document.getElementById('ammount');
                    const value = select.options[select.selectedIndex].text;

                    const response = await fetch(`/api/addToCart/${id}/${value}`, {
                        method: 'POST'
                    });

                    console.log(value);
                    console.log(response.ok);
                })();
            });
        });

    </script>

    <product>
        <img class="product-img" src="./../img/<%= locals.product.image %>" alt="" width="260" height="260">

       
        <info>
            <price>Cena: <%= locals.product.price/100 %> zł </price>
            <ammount>Ilość: <%= locals.product.ammount %></ammount>
        </info>

        <buy-box>
            <button class="add-to-cart" id="add-to-cart">Dodaj do koszyka</button>
            <select name="ilość" id="ammount">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9+</option>
            </select>
        </buy-box>


        <description>
            <product-title><%= locals.product.name %></product-title>
            <opis-title>Opis</opis-title>
            <%= locals.product.description %> <br>
            Inne: <br>
            Cena po obniżce: <%= locals.product.disconted_price/100 %> zł<br>
            Pozostało sztuk: <%= locals.product.ammount %> <br>
        </description>

        <div id="product-id" style="display: none;"><%= locals.product.product_id %></div>
    </product>  
</main>
<%- include('layout-bottom', {}) %>